body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
html{
  height: 100%;
  overflow-y: scroll;
}
#root{
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header{
  position:fixed;
  right:0px;
  top:0px;
  z-index: 1000;
  height: 60px;
  width: 100%;
  background-color: rgb(255 64 129);
}
.nav1{
  z-index: 1000;
  position:fixed;
  top:60px;
  line-height: 35px;
  width: 100%;
  background-color: aliceblue;
  font-family: simsun;
  font-weight: bold;
  border:3px  rgba(255, 214, 226, 0.849) ;
  border-style:  none none dashed none ;
  overflow-x: scroll;
  text-indent: 15px;
  height: 35px;
}
.logo{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin: 5px 0 0 10px;
}
.search{
  float: right;
  height: 30px;
  width: 60%;
  margin: 15px ;
  border-radius: 10px;
  border:none;
}
.button{
  float: right;
  background-color: rgb(255 64 129) ;
  border: 0;
  margin: 18px  5px 0 0 ;
}
#footer{
  width: 100%;
  height: 55px;
  position:fixed;
  right:0px;
  bottom:0px;
  float: left;
  background-color: rgb(255,64,129);
}
.box{
  width: 25%;
  height: 55px;
  float: left;
  
}
.footerimg{
  width: 25px;
  height: 25px;
  margin: 3px 35% ;
}
.text{
  margin: 0 38%;
  font-size: 10px;
  color: white;
  font-family: SimHei;
  
}
.tab{
  width: 20%;
  display: block;
  float: left;
  text-indent: 25px;
}
/* 搜索头 */
a{
  list-style: none;
  color:black;
}
ul{
  margin-top: 5px;
  
}
/* 搜索热点*/
.searchbg{
  background-image: url('/img/storebg.png');
  
}
.hot li{
  width: 45%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

/* 全局*/
.container {
  position: relative;
  width: 100%;
  height: 200px;
  margin:auto;
  overflow: hidden;
}
  .person0{
    background-image: url("/img/background3.png");
  }
  .content {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: #ffffff;
    text-align: center;
  }
    .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
.info{
      font-size: 14px;
}

.person2{
  margin-top: 8px;
  width: 33%;
  float: left;
  text-align: center;
  color: rgb(255,64,129);
  font-weight: bold;
}
.person3{
  margin: auto;
  margin-left: 3%;
}
.person4{
  margin: auto;
  border: 1px solid #cfcfcf;
  text-align: center;
  width:100%;

}/* Person*/
/* 粉丝 */
.setting1{
  margin-top: 5%;
}

.setting2{
  margin-top: 5%;
  height: 20%;
}
.funs1{
  width: 7%;
  height: 7%;
  float: right;
}
.concern{
  background-color: rgb(255,64,129);
  border: none;
  font-size: 12px;
  cursor: pointer;
  float: right;
  width: 70px;
  height: 30px;
  margin-top: 60px;
}
/* 收货地址 */
.address1{
  width: 100%;
  background-color:aliceblue;
  border: 1px solid aliceblue;
}
.address2{
  width: 100%;

}
.address3{
  width: 100%;
}

/* 粉丝关注 */
#footerfuns{
  width: 100%;
  height: 8%;
  position:fixed;
  right:0px;
  bottom:0px;
  float: left;
  background-color: rgb(255,64,129);
}
.boxfuns{
  margin: auto;
  width: 50%;
  height: 8%;
  float: left;
}
.footerimgfuns{
  width: 20px;
  height: 20px;
  margin: 1% 40% ;
}
.textfuns{
  margin: 0 35%;
  color: #ffffff;
  font-size: 10px;
}

/* 动态评论列表 */
.wrapper {
  height: 100%;
  width: 100%;
  font-size: 14px;
  z-index: -1;
  position: absolute;
  overflow: scroll;
  background-image: url('./Comments/background3.png');
  padding-bottom: 50px;
  
}

/* 评论框样式 */
.comment-input {
  width: 200px;
  margin: 30px 0 0 40px;
  padding-bottom: 10px;
 
}

.comment-btn {
  float: right;
  margin:70px 45px  20px  0;
  display: flex;
}
.comment-btn2 {
  float: right;
  margin-top: -30px;
  margin-left: 240px;
  color:white;
  border: white 1px solid;
  background-color: blue;
  position: absolute;
}


code {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 0px 2px;
}
/* 左菜单 */
.menu0{
  background-image: url('/img/background1.png');
}
.menu1{
  border-bottom: 2px solid #dfd5cf;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  
}
.menu2{
  font-size: 16px;
  margin:0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-inline-start: 0px;
  background-color: transparent;
}
.menu3{
  float: right;
  padding:5%;
}
/* 设置 */
.setting1{
  margin-top: 5%;
}

.setting2{
  margin-top: 5%;
  height: 20%;
}
/* 动态 */
.actiona0{
  background-image: url('/img/background.png');
  
}
.actiona1{
  width: 80%;
  height: 30px;
  margin-left: 30px;
  border: 0;
  opacity: 1;
}
.actiona2{
  width: 80%;
  height: 101px;
  margin-left: 30px;
  border-radius: 3px;
}
.actiona3{
  background-color: rgb(255,64,129);
  border:0;
  text-align: center;
  width: 30%;
  color: white;
  height: 35px;
  font-size: 15px;
  margin:10px 0px 50px 0px ;
  border-radius: 3px;
}
.active{
  background-color: rgb(255, 189, 222);
}
.movie{
  width: 33%;
  height: 180px;
  margin-top:30px;
  margin-left: 12%;
  float: left;

}
.videoImg{
  border-radius: 5px;
  width: 120px;
  height: 150px;
}
.videoTitle{
  font-size: 13px;
  width: 100%;
  text-align: center;
}
.myPlayer{
  margin-top:50px;
  height: 30%;
  overflow: hidden;
  width: 100%;
  position: absolute;
}
.video_content{
  position: relative;
  top: -140px;
  width: 80%;
  display: block;
  left: 25%;
  text-align: center;
}
.video_title{
  top: 40%;
  width: 100%;
  position:absolute;
}
.danmu{
  width: 100%;
  height: 50px;
}
.input{
  width: 60%;
  margin-left: 5%;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(173, 173, 173);
  text-indent: 20px;
}
.send{
  width: 25%;
  margin-left: 5%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(126, 126, 126);
}
.send:active{
  background-color: gray;
}
.barrage{
  display: block;
  position: absolute;
  z-index: 100;
  animation: move 5s linear;
  font-weight: 900;
}
@keyframes move{
to{
    left:-20%;
    display: none;
  }
}