header {
    text-align: center;
    line-height: 50px;
  }
  ul {
    width: 80%;
    overflow: hidden;
    height:80%;
    overflow-y: auto;
    height: 90%;
  }
  ul li {
    list-style-type: none;
    display: flex;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    background-color:aliceblue;
  }
  
  ul li span {
    flex: 1;
  }
  .delete{
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 20px;
    outline: none;
    
  }
  .addTodo{
    display: none;
    width: 20%;
    outline: none;
    border: 0;
    margin:auto;
    border:0;
    margin-top: 2%;
  }
  .addTodoImg{
    display: block;
    width:20%;
    height: 80%;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
  }
  
  footer {
    margin: 0 auto;
    line-height: 30px;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px 20px 10px;

    text-align: center;
  }
  footer input {
    display: none;
    height: 24px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid silver;
  }
  button{
    border: 0;
    border-radius: 4px;
    height: 100%;
    color:white;
    background-color:rgb(255,64,129);
  }
  .button1{
    width: 100%;
    margin:auto;
    border:0;
    margin-top: 5%;
    text-align: center;
  }
  .footerdiv1{
    position:fixed;
    bottom: 0px;
    background-color: transparent;
    height: 10%;
  }